* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
  }

.movie-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
}

.movie__item{
    width: 30%;
    margin: 15px;
    padding: 10px;
    align-items: center;
    text-align: center;
    border: rgba(128, 128, 128, 0.1) solid;
}
.movie__item:hover{
    box-shadow: 2px 2px #888888;
}

.movie__btn-add {
  padding: 20px;
  margin-top: 20px;
}
.movie__btn{
  padding: 15px;
}
.movie-plot{
    width: 100%;
    border: rgba(128, 128, 128, 0.1) solid;
    padding: 5px;
}
input{
    width: 100%;
    border-radius: 10px;
    border: rgba(128, 128, 128, 0.1) solid;
    padding: 5px;
}
.form-wrapper div{
    margin: 10px;
}
.movie-plot:hover{
    box-shadow: 2px 2px #888888;

}
input:hover{
    box-shadow: 2px 2px #888888;

}

.movie {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.movie__title {
  font-size: 25px;
  font-weight: 400;
}

.edit-form,
.add-form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.dynamic-page{
  padding: 25px;
}

img{
  width: 25%;
}