* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #root {
    display: flex;
    justify-content: center;
  }
  h1 {
    text-align: center;
  }
  .App {
    width: 800px;
  }